.reqDocMainPage {
  margin-top: 20px;
  padding-right: 30px;
}

.projectReqDesc{
  margin-top: 20px;
  overflow-wrap: break-word;
  font-weight: bolder;
}

.projInfoRow {
  padding-left: 0;
}

.btnReqDoc {
  margin-top: 15px;
  padding: 5px;
  height: 46px;
  width: 289px;
}

.reqDocMainPage .progress {
  height: 30px;
}

.reqDocMainPage .progress-bar {
  font-size: 18px;
  font-weight: bolder;
}

Table .header {
  background-color: bisque;
}

.btnTable {
  height: 32px;
  width: 100px;
}


.btnTable {
  height: 32px;
  width: 100px;
  font-weight: bold;
}

.deletedBtn {
  height: 32px;
  width: 100px;
  font-weight: bold;
  pointer-events: none;
}

tr .trueRow {
  background-color: #198754;
  color: white;
}

tr td {
  vertical-align: baseline;
}

.deleted{
  background-color: #f78d86;
}

.tableSwitch{
  margin-bottom: 10px;
}