.titleHP{
    color: #f46e0f;
    font-size: 40px;
    font-weight: bolder;
/*     text-shadow: 2px 0 0 blueviolet, -2px 0 0 blueviolet, 0 2px 0 blueviolet, 0 -2px 0 blueviolet, 1px 1px blueviolet, -1px -1px 0 blueviolet, 1px -1px 0 blueviolet, -1px 1px 0 blueviolet;
 */}

.containerM{
    margin-top: 20px;
    padding-right: 30px;
}

.welcome{
    height: 60px;
}

tr td{
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.tableRow:hover .tableCol{
    background-color: #f46e0f;  
    color: whitesmoke;
}

.btnDelete {
    height: 32px;
    width: 140px;
  }


  .tableCol .progress {
    height: 24px;
  }
  
  .tableCol .progress-bar {
    font-size: 18px;
  }



