.navbar-custom {
    background-color: #f46e0f;
}

.navbar-custom .title {
    font-weight: bolder;
    text-decoration: none;
    color: #000;
}

.navbar-custom .title:hover {
    text-decoration: underline;
    color: white;
}

.navbar-custom .userName{
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

.navbar-custom .userName:hover{
    text-decoration: underline;
    color: white;
}


.row {
    padding-left: 10px;
}