.testDocMainPage {
  margin-top: 20px;
  padding-right: 30px;
}

.testDocMainPage h1 {
  color: #f46e0f;
  font-size: 40px;
  font-weight: bolder;
}

.projectTestDesc{
  overflow-wrap: break-word;
  font-weight: bolder;
}


.projInfoRow {
  padding-left: 0;
}

.btnReqDoc {
  padding: 5px;
  height: 46px;
  width: 289px;
}

.reqDocMainPage .progress {
  height: 30px;
}

.reqDocMainPage .progress-bar {
  font-size: 18px;
  font-weight: bolder;
}

.reqDocMainPage .accordion-button {
  color: #f46e0f;
  font-weight: bold;
}

.testCaseDate{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0px;
}

.testCaseText{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
}

.addTestStepBtn{
  padding: 5px;
  width: 269px;
  font-size: 23px;
}

