.projectMainPage {
  margin-top: 20px;
  padding-right: 30px;
}

.projectMainPage h1 {
  color: #f46e0f;
  font-size: 40px;
  font-weight: bolder;
}

.projectMainPage a {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: larger;
  font-weight: bolder;
}

.progressBar {
  margin-top: 13px;
  padding-right: 40px;
}

.projInfoRow {
  padding-left: 0;
}

.btnProjectMain {
  margin-top: 15px;
  padding: 5px;
  height: 46px;
  width: 289px;
}

.projectMainPage .progress {
  height: 30px;
}

.projectMainPage .progress-bar {
  font-size: 18px;
  font-weight: bolder;
}

.documantTable{
  margin-top:10px

}

.documentRow a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.documentRow a:hover{
  text-decoration: underline;
  color: #f46e0f;
}

.projectMembers{
  color: black;
  text-decoration: none;
}

.projectMembers:hover{
  color: #f46e0f;
}

.projectMainPage .col-sm-4{
  border-left: 1px solid black;
}